In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped Dataframe\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -0.665003  1.055285  0.041651
b       NaN       NaN       NaN
c -1.679502 -0.626339  0.667681
d -1.033277  0.382644  1.282168
e       NaN       NaN       NaN
f  0.666861  1.479774  1.978937


Dropped Dataframe
         one       two     three
a -0.665003  1.055285  0.041651
c -1.679502 -0.626339  0.667681
d -1.033277  0.382644  1.282168
f  0.666861  1.479774  1.978937

In [3]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a -0.297189  0.555324 -0.531166
b       NaN       NaN       NaN
c -1.491757 -1.836333  1.175618


NaN replaced with '0':

        one       two     three
a -0.297189  0.555324 -0.531166
b  0.000000  0.000000  0.000000
c -1.491757 -1.836333  1.175618

In [4]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\n dataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 dataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.665609  1.350786  0.689940
b       NaN       NaN       NaN
c -0.395534 -1.470505 -1.729133
d -0.456444  0.215213  1.573290
e       NaN       NaN       NaN
f  2.893407 -0.819522  1.981284

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [9]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNan- filled with Background values:\n")
print(df.bfill())

Original DataFrame:
         one       two     three
a -0.412360  1.618729 -1.116638
b       NaN       NaN       NaN
c  0.699478  0.799846 -0.681362
d  0.010725 -0.159419 -1.048032
e       NaN       NaN       NaN
f -0.360225 -0.855977  0.580898

Nan- filled with Background values:

        one       two     three
a -0.412360  1.618729 -1.116638
b  0.699478  0.799846 -0.681362
c  0.699478  0.799846 -0.681362
d  0.010725 -0.159419 -1.048032
e -0.360225 -0.855977  0.580898
f -0.360225 -0.855977  0.580898